@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
}

.sneakers{
    display: flex;
    padding: 48px;
    flex-direction: column;
    gap: 32px;
    border-radius: 50px;
    width: 1200px;
    box-sizing: border-box;
    align-content: center;
}

.container__image{
    height: 600px;
    align-self: stretch;
    width: auto;
    border-radius: 50px 50px 0px 0px;
}

.sneaker{
    width: 1200px;
}

.container_info{
    display: flex;
    align-items: flex-start;
    gap: 32px;
    justify-content: space-between;
}

.text_info{
    color: #121723;
    font-size: 20px;
    font-weight: 400;
    width: 506px;
}

.text_info p{
    margin: 0;
}

.parameters{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 506px;
}

.header_parameter{
    display: flex;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
}

.parameter_info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-bottom: 1px solid #121723;
    padding: 24px 0px;
    font-size: 20px;
    font-weight: 400;
}

.container__title{
    font-size: 48px;
    font-weight: 400;
}

.container__text{
    font-size: 36px;
    font-weight: 400;
}

.text_info{
    font-size: 20px;
    font-weight: 400;
}

@media (max-width: 768px)  {

    .sneakers{
        min-width: 375px;
        width: 100%;
    }

    .sneaker {
        width: 375px;
    }

    .container__image{
        height: 254px;
    }

    .container_info{
        flex-wrap: wrap;
    }

    .container__title{
        font-size: 32px;
        font-weight: 400;
    }

    .container__text{
        font-size: 20px;
        font-weight: 400;
    }

    .text_info{
        font-size: 16px;
        font-weight: 400;
    }

    .header_parameter{
        font-size: 24px;
        font-weight: 400;
    }

    .parameter_info{
        font-size: 16px;
        font-weight: 400;
    }
}